.listContainer {
    width: 40rem;
    max-width: 80vw;
    margin: auto;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.subtitle {
    color: var(--light-secondary-font);
    font-size: 0.9rem;
    padding-bottom: 2rem;
}

.listElementsContainer {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.listElement {
    font-size: 1rem;
    padding-bottom: 0.2rem;
    line-height: 1.3rem; 
}

.divider {
    padding-bottom: 2rem;
}
