.recipeTitle {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    margin: 0 3rem;
}

.recipeDate {
    text-align: center;
    font-size: 1.1rem;
    color: var(--secondary-font);
    padding-bottom: 2.5rem;
}

.recipeContainer {
    margin: 0 calc(100vw * 0.35 - 90px);
}

/* CSS for Markdown elements */
.recipe p {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    line-height: 1.7rem;
}

.recipe h1 {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.recipe h2 {
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.recipe h3 {
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.recipe a {
    color: var(--link-font);
    text-decoration: none;
}
.recipe a:hover {
    text-decoration: underline;
}

.recipe blockquote {
    border-left: 10px solid var(--primary-highlight);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.recipe blockquote p {
    padding-bottom: 0px;
}

.recipe strong {
    font-weight: bold;
}

.recipe em {
    font-style: italic;
}

.recipe ul {
    list-style-type: disc;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.recipe ol li::before {
    content: counter(step-counter);
    color: black;
    font-weight: bold;
}

.recipe ol li{
    counter-increment: step-counter;
}

.recipe li {
    padding-bottom: 0.5rem;
}

.recipe img {
    display: block;
    margin:auto;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid var(--primary-highlight);
    border-radius: 22px;
}

.recipe pre code {
    background-color: var(--code-background);
    border-radius: 22px;
    padding: 1.5rem;
} 

.recipe pre {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}