.postTitle {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    margin: 0 3rem;
}

.postSubtitle {
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
    font-weight: bold;
    margin: 0 3rem;
    color: var(--light-secondary-font);
}

.postDate {
    text-align: center;
    font-size: 1.1rem;
    color: var(--light-secondary-font);
    padding-bottom: 2.5rem;
}

.postContainer {
    margin: 0 var(--content-width);
}

/* CSS for Markdown elements */
.post p {
    font-size: var(--content-font-size);
    padding-bottom: var(--spacing-unit);
    line-height: var(--line-height);
}

.post h1 {
    padding-top: var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
    font-size: var(--heading-one);
    font-weight: bold;
}

.post h2 {
    padding-bottom: 1.5rem;
    font-size: var(--heading-two);
    font-weight: bold;
}

.post h3 {
    padding-bottom: 1.5rem;
    font-size: var(--heading-three);
    font-weight: bold;
}

.post a {
    color: var(--light-link-font);
    text-decoration: none;
}
.post a:hover {
    text-decoration: underline;
}

.post blockquote {
    border-left: 10px solid var(--light-primary-highlight);
    margin: var(--spacing-unit) 10px;
    padding: 0.5em 10px;
}

.post blockquote p {
    padding-bottom: 0px;
}

.post strong {
    font-weight: bold;
}

.post em {
    font-style: italic;
}

.post ul {
    list-style-type: disc;
    padding-left: 1rem;
    padding-bottom: var(--spacing-unit);
}

.post li {
    font-size: var(--content-font-size);
    line-height: var(--list-height);
    padding-bottom: 1rem;
}

.post img {
    display: block;
    margin:auto;
    max-height: 100%;
    max-width: 100%;
}

.post pre code {
    background-color: var(--light-code-background);
    border-radius: 22px;
    padding: 1.5rem;
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.3));
    line-height: 1.2rem;
} 

.post pre {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.post code {
    background-color: var(--light-code-background);
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.2rem;
    color: var(--light-primary-highlight);
}
