.topPadding {
    padding-top: 4.5rem;
}

.seperationPadding {
    padding-top: 1.5rem;
}

.splashTextContainer {
    width: 32rem; margin: 0 auto;
}

.splashText {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 50rem) {
    .splashTextContainer {
        width: 60vw
    }
}