@import "reset.css";

@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter-Regular.ttf");
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter-Medium.ttf");
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter-Bold.ttf");
    font-weight: bold;
    font-display: swap
}

html {
    --light-primary-font: #000000;
    --light-primary-highlight: #FF906C;
    --light-primary-background: #F9F4F1;
    --light-secondary-font: #7A7A7A;
    --light-secondary-background: #FFFFFF;
    --light-link-font: #57A6FF;
    --light-card-stroke: #C5C5C5;
    --light-code-background: #0E1117;
    --dark-primary-font: #F9F4F1;
    --dark-primary-highlight: #FF906C;
    --dark-primary-background: #464646;
    --dark-secondary-font: #B0B0B0;
    --dark-secondary-background: #464646;
    --dark-link-font: #57A6FF;
    --dark-card-stroke: #C5C5C5;
    --dark-code-background: #F9F4F1;
    --line-height: 1.8rem;
    --list-height: 1.5rem;
    --content-font-size: 1rem;
    --spacing-unit: 1.5rem;
    --heading-one: 1.5rem;
    --heading-two: 1.3rem;
    --heading-three: 1.1rem;

    background-color: var(--light-primary-background);
    font-family: Inter, Helvetica, sans-serif ;
}

.clearLinkDecoration {
    text-decoration: none; 
    color: var(--light-primary-font);
}