@import "reset.css";

@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../../../public/fonts/Inter-Bold.ttf");
    font-weight: bold;
}

html {
    --primary-font: #000000;
    --primary-highlight: #FF906C;
    --primary-background: #F9F4F1;
    --secondary-font: #7A7A7A;
    --secondary-background: #FFFFFF;
    --link-font: #57A6FF;
    --card-stroke: #C5C5C5;
    --code-background: #0E1117;
    background-color: var(--primary-background);
    font-family: Inter, Helvetica, sans-serif ;
}

.clearLinkDecoration {
    text-decoration: none; 
    color: var(--primary-font);
}