.backgroundBubble  {
    width: 470px;
    height: 470px;
    font-size: 0; /* This fixes a gap under image from next/image */
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (max-width: 50rem) {
    .backgroundBubble {
        width: 40%;
        height: 40vw;
    }
}