.CardListContainer {
    font-size: 1.3rem;
}

.CardsRow {
    margin: auto;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
}

.CardsRowSeperation {
    padding-top: 1.2rem;
}

.ComponentSeperation {
    padding-top: 4.5rem;
}