.profilePicture {
    border-radius: 100%;
}

.profileContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   width: 70vw;
   padding-top: 1rem
}

.splashText {
    width: 20rem;
}

.profilePictureContainer {
    position: relative;
}

.blob {
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 15rem;
    height: 15rem;
    z-index: -100; 
}

@media (max-width: 40rem) {
    .profileContainer {
        flex-direction: column;
        gap: 2rem;
    }
}
