.experienceContainer {
    width: 40rem;
    max-width: 80vw;
    margin: auto;
}

.jobTitle {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.dates {
    color: var(--light-secondary-font);
    font-size: 0.9rem;
    padding-bottom: 2rem;
}

.descriptionContainer {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.descriptionElement {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    line-height: var(--list-height);
}

.divider {
    padding-bottom: 2rem;
}